<form action="/add" method="POST"> <!--// Metodo POST é mais seguro para envio de dados-->
    <p>Titulo</p>
    <input type="text" name="titulo" id="">
    <p>Conteúdo: </p>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>